@model LoginPageModel

<!-- Content -->
<main>
    <div class="container">
        <div class="row">
            <nav class="nav nav-pills nav-pills-credit flex-column flex-sm-row mb-5">
                <a class="flex-sm-fill text-sm-center nav-link" aria-current="page" href="#">Информация о вас</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="#">Подтверждение условии</a>
                <a class="flex-sm-fill text-sm-center nav-link active" href="#">Перевод</a>
            </nav>

            <form asp-controller="@nameof(LoginController)[..^10]" asp-action="@nameof(LoginController.Index)" method="post">
                <div class="page-card mb-5">
                    <div class="page-title">Регистрация</div>
                    <div class="page-content">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="controls-content">
                                    <label class="label-shit" for="mobile">Номер телефона</label>
                                    <div class="control-total">
                                        <select style="width: 30%;" class="bold-control" name="" id="">
                                            <option value="">+7</option>
                                        </select>
                                        <span asp-validation-for="@Model.Login.Mobile" style="color:red"></span>
                                        <input style="width: 70%;" value="@Model.Login.Mobile" class="bold-control" type="text" asp-for="@Model.Login.Mobile" placeholder="">
                                    </div>
                                </div>
                            </div>

                            <input value="@Model.Login.ReturnUrl" type="hidden" asp-for="@Model.Login.ReturnUrl">

                            <div class="col-md-3">
                                <div class="controls-content">
                                    <label class="label-shit" for="email">Почта</label>
                                    <span asp-validation-for="@Model.Login.Email" style="color:red"></span>
                                    <input class="bold-control" value="@Model.Login.Email" type="text" asp-for="@Model.Login.Email" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @{
                    if (Model.Login.ValidationCode != null)
                    {
                        <p style="color:red">@ViewData["ErrorMessage"]</p>
                        <input class="bold-control" type="text" asp-for="@Model.Login.ValidationCode" placeholder="Введите код смс">
                        <input type="submit" class="button-classic" value="Подтвердить">
                    }
                }

                <div class="right-button">
                    <button type="submit" class="button-classic">Далее</button>
                </div>
            </form>
        </div>
    </div>
</main>